
@import "react-time-picker/dist/TimePicker.css";
@import "react-clock/dist/Clock.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "react-tooltip/dist/react-tooltip.css";

*{
  padding: 0;
  margin: 0;
}

.react-datepicker-wrapper input[type="text"] {
  text-align: center;
  border: none;
  font-weight: bolder;
  border-radius: 5px;
}

.react-time-picker__wrapper{
  border-radius: 5px;
}